@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6>Gwanggyo Oh, A01045394</h6>
    <p>
        When I graduate from school, I want to be a backend developer.
    </p>
    </p>
</div>
